certifi==2022.12.7
certifi==2025.8.3
dateparser==1.2.2
Django==5.2.5
djangorestframework==3.15.2
djangorestframework_simplejwt==5.3.1
drf_spectacular==0.27.2
httpx==0.28.1
openai==1.99.9
Requests==2.32.4
django-unfold
