certifi
dateparser
Django
djangorestframework
djangorestframework_simplejwt
drf_spectacular
httpx
openai
Requests
django-cors-headers
django-unfold
ango
sqlparse
regex
redis
python-dotenv
python-dateutil
PyJWT
pydantic
pydantic_core
psycopg2-binary
pickleshare
pipreqs
openai
celery
django-filter
gunicorn